#### **Working With Date And Time**

Python has a module named datetime to work with dates and times.

In this tutorial, we will cover python datetime module and how it is used to handle date, time and datetime formatted variables.
Datetime is a common data type in data science projects.

In [ ]:

import numpy as np
import datetime

Let's see what is inside datetime

In [ ]:

print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

#### Print today's date

In [ ]:
date_object = datetime.date.today() #use today() for today's date
print(date_object)

2021-01-16

we can see from the above the current date being printed out for us

In [ ]:

datetime_object = datetime.datetime.now()
datetime_object

datetime.datetime(2021, 1, 16, 23, 56, 44, 570494)

Here, we have imported datetime module using import datetime statement.

One of the classes defined in the datetime module is **datetime class**. We then used **now()** method to create a datetime object containing the **current local date** and **time**.

## **Extract current Day, Month and Year**

In [ ]:

date=datetime.datetime.now() #use now() for today's date and current time
#Date

print('Current Date is:',date)

# year

print('Year :',date.year)

# # month

print('Month:',date.month)

# # day

print('Day of Month :',date.day)

Current Date is: 2021-01-16 23:59:11.653817
Year : 2021
Month: 1
Day of Month : 16

##**Extract Current Date, Hour, Minute, Seconds and Microseconds**

In [ ]:

time=datetime.datetime.today()

print('Current Date is:',time)

# # hour
print('Hour :',time.hour)
# # minute
print('Minute :',time.minute)
# # second
print('Second :',time.second)
# # microsecond
print('Microsecond :',time.microsecond)

Current Date is: 2021-01-17 00:01:58.758570
Hour : 0
Minute : 1
Second : 58
Microsecond : 758570

###Updating old Dates

In [ ]:

date=datetime.datetime.now()
# date
print('Current Date is:',date)
# time
print('Time :',date.time())
# # new datetime
print('New datetime :',date.replace(day=10))

Current Date is: 2021-01-17 00:03:37.378706
Time : 00:03:37.378706
New datetime : 2021-01-10 00:03:37.378706

# **Datetime.timedelta**

A timedelta object can be used when for instance, you want to find the difference between two datetime objects.Example, to find the difference between August 4th, 1990 and August 4th, 2021

In [ ]:

delta = datetime.datetime(2021, 8, 4) - datetime.datetime(1990, 8, 4)
delta

datetime.timedelta(11323)

In [ ]:
print('Days :',delta.days)

print('Years :',np.round(delta.days/360))

Days : 11323
Years : 31.0

##Time duration in seconds

In [ ]:

from datetime import timedelta

t = timedelta(days = 7, hours = 2, seconds = 15, microseconds = 613410)
print("total seconds =", t.total_seconds())

total seconds = 612015.61341

###Check If It Is Leap Year

In [ ]:
import calendar

calendar.isleap(2020)

True

In [ ]:

calendar.isleap(2021)

False

## **Extract Weekday from DateTime**

Extracting Weekday is very helpful in feature engineering, for instance the your target variable can be dependent on the day of the week, like sales of a product are generally higher on a weekend.

The **weekday()** method returns an integer value for the day of the week, where Monday is 0 and Sunday is 6. We can also use the **isoweekday()** to return the weekday value between 1 and 7, just like in real-world scenario.

In [ ]:

date=datetime.datetime.now()
# week starts from 0
print('Today is Sunday and it is representedby weekday() as:',date.weekday()) # output 2 for Wednesday

# # week starts with 1
print('Today is Sunday and it is represented by isoweekday() as:',date.isoweekday()) # output 3 in ISO format for Wednesday

Today is Sunday and it is representedby weekday() as: 6
Today is Sunday and it is represented by isoweekday() as: 7

### Extract What Week is it in the Year

We can use the **isocalendar()** to get the week of the year.

The **isocalendar()** function return a 3-tuple containing: **ISO year**, **week number**, and **weekday** for the given Timestamp object

In [ ]:
date=datetime.datetime.now()
# retuns year, week number, week day
print(date.isocalendar())
print('Week :',date.isocalendar()[2])

(2021, 2, 7)
Week : 7

## **Generate Calender Of The Year**

In [ ]:
import calendar
print(calendar.calendar(1990))

                                  1990

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

### Print Calender For Specific Month

In [ ]:

print(calendar.month(2030,8))

    August 2030
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

#### **Python format datetime**

#### format()

Use **fomat()** to define your own date format

In [ ]:
datetime.date.today().__format__('%Y/%m/%d')

'2021/01/17'

In [ ]:
datetime.date.today().__format__('%d/%m/%Y')

'17/01/2021'

#### **DateTime Formatting with Strptime & Strftime**

The way date and time is represented may be different in different places, organizations etc. It's more common to use *mm/dd/yyyy* in the **US**, whereas *dd/mm/yyyy* is more common in the **UK**.

Python has **strftime()** and **strptime()** methods to handle this.

#### Python **strftime()** : Converts datetime object to string
The method creates a formatted string from a given date, datetime or time object.

In [ ]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S") #US format
# mm/dd/YY H:M:S format
print("USA:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")  #UK format
# dd/mm/YY H:M:S format
print("UK:", s2)

time: 00:29:40
USA: 01/17/2021, 00:29:40
UK: 17/01/2021, 00:29:40

Here, %Y, %m, %d, %H etc. are format codes. The strftime() method takes one or more format codes and returns a formatted string based on it.

In the above program, t, s1 and s2 are strings.

1. **%Y** - year [0001,..., 2018, 2019,..., 9999]
2. **%m** - month [01, 02, ..., 11, 12]
3. **%d** - day [01, 02, ..., 30, 31]
4. **%H** - hour [00, 01, ..., 22, 23
4. **%M** - minute [00, 01, ..., 58, 59]
6. **%S** - second [00, 01, ..., 58, 59]

### Extract the Year, Month, day and Time using **strftime()**

In [ ]:
now = datetime.now() # current date and time

year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%m")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2021
month: 01
day: 17
time: 00:31:57
date and time: 01/17/2021, 00:31:57

Here, **year**, **day**, **time** and **date_time** are strings, whereas **now** is a datetime object.

### Creating string from a timestamp

In [ ]:
from datetime import datetime

timestamp = 789232321
date_time = datetime.fromtimestamp(timestamp)

print("Date time object:", date_time)

d = date_time.strftime("%m/%d/%Y, %H:%M:%S")
print("Output 2:", d)	

d = date_time.strftime("%d %b, %Y")
print("Output 3:", d)

d = date_time.strftime("%d %B, %Y")
print("Output 4:", d)

d = date_time.strftime("%I%p")
print("Output 5:", d)

Date time object: 1995-01-04 15:12:01
Output 2: 01/04/1995, 15:12:01
Output 3: 04 Jan, 1995
Output 4: 04 January, 1995
Output 5: 03PM

## Python **strptime()** : Converts string to datetime
The strptime() method creates a datetime object from a given string (representing date and time).

In [ ]:
from datetime import datetime

date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

By the way, %d, %B and %Y format codes are used for day, month(full name) and year respectively.

### **Handling Time Zones**

We can display time based on specific time zone. This helps when dealing with projects that require handling of data from different time zones. 

We will use the ***pytZ module*** to handle time zones

In [ ]:
# !pip intsall pytz
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_Sydney = pytz.timezone('Australia/Sydney')
datetime_Sydney = datetime.now(tz_Sydney)
print("Sydney:", datetime_Sydney.strftime("%m/%d/%Y, %H:%M:%S"))

tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 01/17/2021, 00:46:10
Sydney: 01/17/2021, 11:46:10
NY: 01/16/2021, 19:46:10

#### **Get year, month, and day from a DataFrame**

***dt.year***, ***dt.month*** and ***dt.day*** are the inbuilt attributes to get year, month , and day from Pandas datetime object.

In [ ]:
import pandas as pd


df = pd.DataFrame({'name': ['Ben', 'Simran', 'Sanjay'],
                 'DoB': ['08-05-1990', '04-28-1998', '12-16-2001']})
df['DoB'] = pd.to_datetime(df['DoB'])
df

     name        DoB
0     Ben 1990-08-05
1  Simran 1998-04-28
2  Sanjay 2001-12-16

In [ ]:

df['year']= df['DoB'].dt.year
df['month']= df['DoB'].dt.month
df['day']= df['DoB'].dt.day
df

     name        DoB  year  month  day
0     Ben 1990-08-05  1990      8    5
1  Simran 1998-04-28  1998      4   28
2  Sanjay 2001-12-16  2001     12   16

### **Assemble a datetime from multiple columns**

In [ ]:

#Let's assemble the date
df['Date-Assembled'] = pd.to_datetime(df[['year','month','day']])

In [ ]:

df

     name        DoB  year  month  day Date-Assembled
0     Ben 1990-08-05  1990      8    5     1990-08-05
1  Simran 1998-04-28  1998      4   28     1998-04-28
2  Sanjay 2001-12-16  2001     12   16     2001-12-16

#### **Get the week of year, the day of week and leap year**

Similarly, ***dt.week***, ***dt.dayofweek***, and ***dt.is_leap_year*** are the inbuilt attributes to get the week of year, the day of week, and leap year.

In [ ]:
df['week_of_year'] = df['DoB'].dt.week
df['day_of_week'] = df['DoB'].dt.dayofweek
df['is_leap_year'] = df['DoB'].dt.is_leap_year
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

     name        DoB  year  ...  week_of_year  day_of_week is_leap_year
0     Ben 1990-08-05  1990  ...            31            6        False
1  Simran 1998-04-28  1998  ...            18            1        False
2  Sanjay 2001-12-16  2001  ...            50            6        False

[3 rows x 9 columns]

#### **Map The Day Of The Weeks With Thier Proper Names**

In [ ]:
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
df['day_of_week_name']=df['DoB'].dt.weekday.map(dw_mapping)
df

     name        DoB  year  ...  day_of_week  is_leap_year day_of_week_name
0     Ben 1990-08-05  1990  ...            6         False           Sunday
1  Simran 1998-04-28  1998  ...            1         False          Tuesday
2  Sanjay 2001-12-16  2001  ...            6         False           Sunday

[3 rows x 10 columns]

#**Get the age from the date of birth**

In [ ]:
today = pd.to_datetime('today')

df['age'] = today.year - df['DoB'].dt.year
df

     name        DoB  year  ...  is_leap_year  day_of_week_name age
0     Ben 1990-08-05  1990  ...         False            Sunday  31
1  Simran 1998-04-28  1998  ...         False           Tuesday  23
2  Sanjay 2001-12-16  2001  ...         False            Sunday  20

[3 rows x 11 columns]

In [ ]:
2021 - 2001

20

#### **Working With Dates In Pandas DataFrame**

In [ ]:

df = pd.read_excel('/content/anonymous.xlsx')
df.head()

                  Name        Area  ...      Liberation Date  Exit Date
0    Kimberli Okelly    VideoGames  ...  2017-01-29 00:00:00        NaT
1     Lavern Fuhrman         Books  ...  2017-02-25 00:00:00        NaT
2    Ghislaine Bodie         Books  ...                 Exit 2017-01-29
3  Dianne Mayweather         Books  ...  2017-03-21 00:00:00        NaT
4    Myron Gustavson       Clothes  ...  2017-04-07 00:00:00        NaT

[5 rows x 8 columns]

In [ ]:
#@title
# df['Date Hired'] = pd.to_datetime(df[['Hiring Date']])

##Operations On Date In Pandas DataFrame

In [ ]:

#Let's set Hiring Date as an Index for easier operations

df = df.set_index(['Hiring Date'])
df

                            Name  ...  Exit Date
Hiring Date                       ...
2017-01-23     Kimberli Okelly    ...        NaT
2017-01-19      Lavern Fuhrman    ...        NaT
2017-01-27     Ghislaine Bodie    ... 2017-01-29
2017-02-11   Dianne Mayweather    ...        NaT
2017-03-01     Myron Gustavson    ...        NaT
...                          ...  ...        ...
2017-03-16         Hugo Stiger    ... 2017-07-03
2017-02-21        Onie Brunner    ...        NaT
2017-03-13    Margaretta Weast    ...        NaT
2017-01-17    Marcos Manigault    ...        NaT
2017-01-23    Dorothea Millman    ...        NaT

[400 rows x 7 columns]

###Which Employees were hired in 2017. How many are there?

In [ ]:

df.loc['2017'][['Name','Area']]

                            Name                   Area
Hiring Date
2017-01-23     Kimberli Okelly               VideoGames
2017-01-19      Lavern Fuhrman                    Books
2017-01-27     Ghislaine Bodie                    Books
2017-02-11   Dianne Mayweather                    Books
2017-03-01     Myron Gustavson                  Clothes
...                          ...                    ...
2017-03-16         Hugo Stiger         Home and Kitchen
2017-02-21        Onie Brunner    Sports and Recreation
2017-03-13    Margaretta Weast         Home and Kitchen
2017-01-17    Marcos Manigault                     Pets
2017-01-23    Dorothea Millman                    Books

[400 rows x 2 columns]

In [ ]:
len(df.loc['2017']['Name'])

400

###Which employees were hired on 14th February 2017? Which Area are they? What is their Position?

In [ ]:

df.loc['2017-02-14'][['Name','Area','Position']]

                      Name              Area            Position
Hiring Date
2017-02-14    Mia Slavin    Home and Kitchen              Packer
2017-02-14   Kala Kirwin    Home and Kitchen  General Depot Hand
2017-02-14     Ma Livers               Books   Forklift Operator

##### Hey! Which guys were hired between January 27 and March 13, 2017? Which Depot were they and when did they exit?

In [ ]:

df.loc['2017-01-27' : '2017-03-13'][['Name','Depot','Exit Date']]

                            Name             Depot  Exit Date
Hiring Date
2017-01-27     Ghislaine Bodie    Ciudad de México 2017-01-29
2017-02-11   Dianne Mayweather           Monterrey        NaT
2017-03-01     Myron Gustavson    Ciudad de México        NaT
2017-02-25     Maryjane Condie         Guadalajara        NaT
2017-02-15        Mirtha Knabe    Ciudad de México        NaT
...                          ...               ...        ...
2017-03-08    Winona Alexandre    Ciudad de México 2017-07-22
2017-03-03       Aileen Polzin         Guadalajara 1911-09-28
2017-02-01      Alishia Nutter      Nezahualcóyotl        NaT
2017-02-21        Onie Brunner           Monterrey        NaT
2017-03-13    Margaretta Weast    Ciudad de México        NaT

[205 rows x 3 columns]